web-sock-client {

}
#windrose {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    background-image: url("../../assets/imgs/Windrose.png");      
    background-size: 100% 100%;
    //background-color: white;
  }
  
  #arrow {
    height: 300px;
    width: 300px;
    background-color: white;
    opacity: 0.5;
  }

  .testbutton {
    font-size: 30px !important;
  }

  //* {
  //      margin: 50px;
 // }
