page-windrose {

}

.border {
    //background-color: lightgrey;
    border: solid black thin;
}

.windrose {
    transform : translate(22px,106px) rotate(50deg) !important;
    opacity: 1 !important;
}

.bigfont {
    font-size: 30px !important;

}

.colorlabel {
    color: red !important ;
    font-size: 15px !important;
}

.overlaybox { 
    position: relative !important;    
}
.overlaybox div{ 
    position: absolute  !important ;
}
