page-windrose {

}

.border {
    background-color: lightgrey;
    border: solid black thin;
}

#windrose {
    background-color: rgb(110, 170, 226);
}

.bigfont {
    font-size: 30px !important;

}

.colorlabel {
    color: red !important ;
    font-size: 15px !important;
}